@font-face {
  font-family: sans-serif;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat";
}

.container {
  /* 1440 - 2*195 + 2*10 = 1030 */
  max-width: 1030px;
  padding: 0px 10px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

:root {
  scroll-behavior: smooth;
  --primary-text-color: #252b42;
  --secondary-text-color: #737373;
}
